# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
logs
libs/librarianlib-1.0.jar
kotlinlib/
jacoco/

.DS_Store
/src/main/java/com/teamwizardry/wizardry/client/quaeritumrender/

# Files from Forge MDK
forge*changelog.txt
